.last-article {
  height: auto;
  margin-top: 69px;
}

.last-article-container {
  display: flex;
  justify-content: flex-start;
}

.last-article-dates {
  margin-bottom: 44px;
}

h4 {
  margin-bottom: 63px;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 1070px) {

  .container {
    width: 80%;
    margin: 0 auto;
  }

  img {
    width: 95%;
  }
}

@media only screen and (max-width: 750px) {

  .container {
    width: unset;
    margin: unset;
  }

  .last-article {
    margin-top: 114px;
  }

  h1 {
    font-size: 26px;
  }

  h4 {
    font-size: 14px;
  }

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
}
