.our-opinion {
  height: auto;
  width: 49vw;
}

.main-title{
    margin-bottom: 44px;
    margin-left: -40px;
}

.title {
  margin-bottom: 33px;
  margin-left: -40px;
}

.moins {
  margin-top: 57px;
}

.conseil {
  margin-top: 57px;
}


