.trip{
    height: auto;
    margin-bottom: 115px;
    background-color: var(--paragraph);
    max-width: 54vw;
    padding: 69px 56px;
    color: var(--white);
    /* Conserve les saut de ligne et les espaces */
    white-space: pre-wrap;
}

.main-title{
    margin-bottom: 44px;
}

.trip-container {
    display: flex;
    justify-content: flex-start;
}