.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-article-title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 44px;
}

.other-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 29px;
  width: 80%;
  cursor: pointer;
}

.caption {
  height: 118px;
  width: 100%;
  background-color: var(--paragraph);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  margin-top: -4px;
}

.trip-and-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trip {
  margin-left: 49px;
  font-weight: 400;
}

.city {
  margin-left: 49px;
}

.dates {
  color: var(--white);
  margin-right: 38px;
  padding-left: 35px;
  border-left: 1px solid white;
}

/* MEDIAQUERIES */

@media only screen and (max-width: 1070px) {
  img {
    height: 80%;
    width: 80%;
  }

  .caption {
    height: 80px;
    width: 80%;
  }

  figure {
    margin-right: -100px;
  }

  .other-article-title {
    font-size: 30px;
  }

  .trip {
    font-size: 20px;
  }

  .city {
    font-size: 14px;
  }

  .dates {
    font-size: 12px;
  }
}
