/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 137px;
}

/* FONT-FAMILY */
h1 {
  font-family: "Lora", serif;
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p,
ul,
li {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* COULEURS */
:root {
  --paragraph: #c96b41;
  --legend: #c96c41a1;
  --header: #eedfd4;
  --black: #000000;
  --white: #ffffff;
}

/* MEDIAQUERIES */

@media only screen and (max-width: 1190px) {
  body {
    margin-left: 0px;
  }
}
