<section class="homepage-top-link-container">
    <ng-container *ngFor="let topArticle of topArticles">
        <figure *ngIf="topArticle.topArticle === true" class="image" routerLink="article/{{topArticle.id}}">
           <img src="{{topArticle.mainImage}}" alt="img"> 
           <figcaption class="caption">
            <h2 class="trip">
                {{topArticle.country}} - {{topArticle.city}}
            </h2>
            <h4 class="dates">
                {{topArticle.departureDate}} - {{topArticle.returnDate}}
            </h4>
           </figcaption>
        </figure>
    </ng-container>
</section>

