.homepage-top-link-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 165px;
  margin-bottom: 210px;
}

.image {
  display: flex;
  justify-content: center;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 118px;
  width: 100%;
  background-color: var(--legend);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.trip {
  margin-left: 49px;
}

.dates {
  margin-right: 38px;
  padding-left: 35px;
  border-left: 1px solid white;
  line-height: 7.2rem;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 1070px) {
  .homepage-top-link-container {
    margin-top: 114px;
    margin-bottom: 102px;
  }

  img {
    width: 80%;
  }

  .caption {
    height: 20%;
    width: 80%;
    left: 10%;
  }

  .trip {
    font-size: 15px;
    margin-left: unset;
    padding: 25px;
  }

  .dates {
    font-size: 10px;
    line-height: unset;
    margin-right: unset;
    padding: 29px;
  }
}

@media only screen and (max-width: 750px) {
  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    width: 80%;
    min-width: 350px;
  }
}
